:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color-primary: #ffffff;
    --color-secondary: #DE8121;
    --color-tertiary: #F1DFBE;
    --color-quaternary: #E5E5E5;
    --color-quinary: #342822;
    --color-senary: black;
}

#div-buscador-nombre-pro{
    display: flex;
    flex-direction: row;
    border: 1px;
    padding: 1px;
    position: relative;
  width: 600px;
}

.buscador {
    background-color: var(--color-quinary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0px 26px 0px;
    color: var(--color-tertiary);
}

.buscador-input{
    margin-right: 10px;
    margin-left: 10px;
}

#buscadores-home{
    display: flex;
    align-items: end;
}

/*.calendars-container {
  display: flex;
}*/

.calendar {
  margin-right: 10px; /* Adjust spacing between calendars */
}

.titulo-buscador{
    text-align: center;
    font-size: 2rem;
}

.parrafo-buscador {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}


.input-buscador {
    width: 650px;
    border-radius: 5px;
    
    /* border: 1px solid var(--color-secondary); */
    padding-left: 10px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
 
}

.btn-buscar-pro {
    /* margin-left: 10px; */
    background-color: #DE8121;
    color: var(--color-primary);
    cursor: pointer;
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #342822;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 50px;
    z-index: 2;
    width: 110px;
}
 

.btn-buscar:hover{
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
    .input-buscador {
        width: 400px;
    }

    .titulo-buscador{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .input-buscador {
        width: 260px;
    }
    
    .titulo-buscador{
        font-size: 1.1rem;
        font-weight: 600;
    }

    .parrafo-buscador {
        font-size: 0.7rem;
        font-weight: 300;
    }
}
    
