

.imagesP{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.Cards{
    
    background-size: cover; /* Otra opción: contain */
    background-repeat: no-repeat; /* Asegura que no se repita */
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(251, 247, 241);
    border-radius: 10px;
    padding: 1%;
}
.infoCard {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
}
.infoCard > h5 {
    width: 70%;
    text-align: left;
}
.btnDetalles{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.btnDetail{
    background-color: #F1DFBE;
    border-radius: 5px;
    padding:3px 20px;
    border: none;
    text-decoration: none;
}
@media only screen and (max-width: 588px) {
    .infoCard{
        display: flex; 
        flex-direction: column;
    }
    .infoCard > h5{
        width: 100%;
        text-align: center;
    }
}