
#Registro{
    width: 100%;
    padding:30% 10%;
}
#imagenPlusCont{
    width: 90%;
    padding:1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registrar{
    padding:4% 2% 4% 2%;
}
.formregistrarusu{
    width: 100%;
}
#formplusbuttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
}
#contenedorForm{
    width: 90%;
}