:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color-primary: #ffffff;
    --color-secondary: #DE8121;
    --color-tertiary: #F1DFBE;
    --color-quaternary: #E5E5E5;
    --color-quinary: #342822;
    --color-senary: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f1dfbe;
}

/* Estilos generales que se aplican a todas las pantallas */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.registro-container {
    background-color: #F1DFBE;
}

/* Estilos para el encabezado */
header {
    background-color: #F1DFBE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenedor del logo y el eslogan */
.logo-container,
.slogan {
    display: flex;
    align-items: center;
}

/* Logo de la empresa */
.company-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Eslogan de la empresa */
.slogan {
    text-align: left;
    color: #342822;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.slogan .line1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.slogan .line2 {
    font-size: 1em;
}

/* Icono de usuario */
.user-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/* Contenedor del cuerpo */
.body-container {
    display: flex;
    padding: 20px;
}

/* Imagen de la empresa */
.company-image {
    display: none;
}

#cardUsuDetalleReservaDet {
    height: 100px;
    display: flex;
    font-size:x-large;
    margin: 20px 0 10px 20px;
}

#tituloMiCuentaReserva {
    margin-top: 100px;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#infoUsuario {
    margin-top: 10%;
    /*background-color: aquamarine;*/
    padding-left: 20px;
    padding-right: 20px;
}

.titleDetalle{
    text-align: center;
}
.divFechasSeleccionadas {
    height: 80px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    margin-left: 20px;
}

.botonConfirmarReserva {
   
    margin-right: 50px;
    height: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    width: 200px;
    background-color: #DE8121;
    border: 2px solid #DE8121;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s ease;
    float: inline-end;
}

.fechasSeleccionadas{
    height: 150px;
}

