*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0%;
}
h1{
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    flex: 1;
    min-width: 300px; 
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
#root {
    width: 100%;
}
#hCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
#bodyCard {
    display: flex;
    justify-content: center;
}


@media (max-width: 918px) {
.bodyCrad{

}
#hCard {
    display: flex;
    flex-direction: column;
}
    
}
